<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" 
           Name="Sprightly" 
           Language="1033" 
           Version="0.1.0" 
           Manufacturer="BeardedPlatypus" 
           UpgradeCode="86861083-fd77-412a-bd29-056a0320d3b5">
		<Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

    <WixVariable Id="WixUILicenseRtf" Value="ApacheLicense2.0.rtf" />

		<Feature Id="ProductFeature" 
             Title="Sprightly" 
             Level="1">
      <ComponentGroupRef Id="FSharp"/>
      <ComponentGroupRef Id="Sprightly"/>
      <ComponentGroupRef Id="SprightlyResources"/>
      <ComponentGroupRef Id="KoboldLayer"/>
      <ComponentGroupRef Id="ElmishWPF"/>
			<ComponentGroupRef Id="MahApps" />
      <ComponentGroupRef Id="MaterialDesign"/>
      <ComponentGroupRef Id="SixLaborsImageSharp"/>
      <ComponentGroupRef Id="NewtonSoftJson"/>
      <ComponentGroupRef Id="MicrosoftXamlBehaviors"/>
		</Feature>

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Sprightly">
          <Directory Id="ResourcesFolder" Name="Resources" />
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder"/>
		</Directory>
	</Fragment>

	<Fragment>
    <ComponentGroup Id="FSharp" Directory="INSTALLFOLDER">
			<Component>
        <File Source="FSharp.Core.dll"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="Sprightly" Directory="INSTALLFOLDER">
			
      <Component>
        <File Source="Sprightly.dll"/>
      </Component>

			<Component>
        <File Id="Sprightly.exe"
              Source="Sprightly.exe"
              KeyPath="yes">
          <Shortcut Id="SprightlyShortcut"
                    Name="Sprightly"
                    Description="Sprightly"
                    Directory="ProgramMenuFolder"
                    WorkingDirectory="INSTALLFOLDER"
                    Advertise="yes"/>
        </File>
      </Component>

      <Component>
        <File Source="Sprightly.Application.dll"/>
      </Component>

			<Component>
        <File Source="Sprightly.Common.dll"/>
      </Component>

			<Component>
        <File Source="Sprightly.Common.KoboldLayer.dll"/>
      </Component>

			<Component>
        <File Source="Sprightly.Common.KoboldLayer.Components.dll"/>
      </Component>

			<Component>
        <File Source="Sprightly.Domain.dll"/>
      </Component>

			<Component>
        <File Source="Sprightly.Infrastructure.dll"/>
      </Component>

			<Component>
        <File Source="Sprightly.Persistence.dll"/>
      </Component>

			<Component>
        <File Source="Sprightly.Presentation.dll"/>
      </Component>

			<Component>
        <File Source="Sprightly.Presentation.Common.dll"/>
      </Component>

			<Component>
        <File Source="Sprightly.Presentation.Views.dll"/>
      </Component>

			<Component>
        <File Source="Sprightly.runtimeconfig.json"/>
      </Component>

			<Component>
        <File Source="Sprightly.deps.json"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="SprightlyResources" Directory="ResourcesFolder">
      <Component>
        <File Name="cube.png" Source="Resources/cube.png"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="KoboldLayer" Directory="INSTALLFOLDER">
			<Component>
        <File Source="Ijwhost.dll"/>
      </Component>

			<Component>
        <File Source="kobold-layer.clr.dll"/>
      </Component>

			<Component>
        <File Source="libpng16.dll"/>
      </Component>

			<Component>
        <File Source="SDL2.dll"/>
      </Component>

			<Component>
        <File Source="SDL2_image.dll"/>
      </Component>

			<Component>
        <File Source="zlib1.dll"/>
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="MahApps" Directory="INSTALLFOLDER">
			<Component>
        <File Source="MahApps.Metro.dll"/>
      </Component>

			<Component>
        <File Source="ControlzEx.dll"/>
      </Component>

      <!-- Icons -->
			<Component>
        <File Source="MahApps.Metro.IconPacks.Core.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.BootstrapIcons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.BoxIcons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.Codicons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.Entypo.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.EvaIcons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.FeatherIcons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.FileIcons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.Fontaudio.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.FontAwesome.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.ForkAwesome.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.Ionicons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.JamIcons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.Material.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.MaterialDesign.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.MaterialLight.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.Microns.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.Modern.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.Octicons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.PicolIcons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.PixelartIcons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.RadixIcons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.RemixIcon.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.RPGAwesome.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.SimpleIcons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.Typicons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.Unicons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.VaadinIcons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.WeatherIcons.dll" />
      </Component>

			<Component>
        <File Source="MahApps.Metro.IconPacks.Zondicons.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="MaterialDesign" Directory="INSTALLFOLDER">
			<Component>
        <File Source="MaterialDesignColors.dll" />
      </Component>

			<Component>
        <File Source="MaterialDesignThemes.MahApps.dll" />
      </Component>

			<Component>
        <File Source="MaterialDesignThemes.Wpf.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ElmishWPF" Directory="INSTALLFOLDER">
			<Component>
        <File Source="Elmish.dll" />
      </Component>

			<Component>
        <File Source="Elmish.WPF.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="SixLaborsImageSharp" Directory="INSTALLFOLDER">
			<Component>
        <File Source="SixLabors.ImageSharp.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="NewtonSoftJson" Directory="INSTALLFOLDER">
			<Component>
        <File Source="Newtonsoft.Json.dll" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="MicrosoftXamlBehaviors" Directory="INSTALLFOLDER">
			<Component>
        <File Source="Microsoft.Xaml.Behaviors.dll" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
