<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" 
           Name="Sprightly" 
           Language="1033" 
           Version="0.1.0" 
           Manufacturer="BeardedPlatypus" 
           UpgradeCode="86861083-fd77-412a-bd29-056a0320d3b5">
		<Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

    <WixVariable Id="WixUILicenseRtf" Value="Resources\ApacheLicense2.0.rtf" />

		<Feature Id="ProductFeature" 
             Title="Sprightly" 
             Level="1">
      <ComponentGroupRef Id="FSharp"/>
      <ComponentGroupRef Id="Sprightly"/>
      <ComponentGroupRef Id="SprightlyResources"/>
      <ComponentGroupRef Id="KoboldLayer"/>
      <ComponentGroupRef Id="ElmishWPF"/>
			<ComponentGroupRef Id="MahApps" />
      <ComponentGroupRef Id="MaterialDesign"/>
      <ComponentGroupRef Id="SixLaborsImageSharp"/>
      <ComponentGroupRef Id="NewtonSoftJson"/>
      <ComponentGroupRef Id="MicrosoftXamlBehaviors"/>
      <ComponentGroupRef Id="NET5"/>
		</Feature>

    <UIRef Id="WixUI_InstallDir" />
    <UIRef Id="WixUI_ErrorProgressText" />

    <WixVariable Id="WixUIDialogBmp" Value="Resources\WixUIDialogBmp.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="Resources\WixUIBannerBmp.bmp" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
	</Product>
</Wix>
